/* main page */

@media (min-width: 500px) and (min-height: 400px) {
	.main-header {
		margin-top: 100px;
	}
}

.main-screen {
	text-align: center;
}

.main-search-form {
	font-size: 25px;
}

@media (min-width: 400px) {
	.main-search-form input {
		min-width: 15em;
	}
}



/* search results */

.search-query-input {

}

.tag-list {
	list-style-type: none;

	display: flex;
	flex-wrap: wrap;

	padding: 0;
	font-size: .9em;
	color: gray;
}

.tag-list li {
	white-space: nowrap;
}

.tag-list li:not(:last-child) {
	margin-right: 7px;
}
