.flex {
	display: flex;
}

.flex-wrap {
	flex-wrap: wrap;
}

.vertical-center {
	align-items: center;
}

.horizontal-center {
	justify-content: center;
}

.pad-sides {
	padding-left: 16px;
	padding-right: 16px;
}

.pad-vertical {
	padding-top: 4px;
	padding-bottom: 4px;
}

.gray {
	color: gray;
}

.susd-orange {
	color: #eb6d1c;
}

.header {
	padding: 10px;
	min-height: 36px;
}

/* about page */



/* search results */

.result-image-dolumn {
	width: 320px;
}

@media (max-width: 760px) {
	.result-image-dolumn {
		display: none;
	}
}

.bigly-header-link {
	color: inherit;
	text-decoration: none;
}
.bigly-header-link:hover {
	text-decoration: underline;
	text-decoration-color: gray;
}

.tag-list {
	list-style-type: none;

	display: flex;
	flex-wrap: wrap;

	padding: 0;
	font-size: .9em;
}

.tag-list li:not(:last-child) {
	margin-right: 7px;
}


@media (max-width: 650px) {
	.filter-tag-list .filter-tag:nth-last-child(1),
	.filter-tag-list .filter-tag:nth-last-child(2) {
		display: none;
	}
}

@media (max-width: 500px) {
	.filter-tag-list .filter-tag:nth-last-child(3),
	.filter-tag-list .filter-tag:nth-last-child(4) {
		display: none;
	}
}





.pure-menu-item.active .pure-menu-link,
.pure-menu-item.active .pure-menu-link:visited {
	color:#000
}