.flex {
	display: flex;
}

.vertical-center {
	align-items: center;
}

/* main page */

@media (min-width: 500px) and (min-height: 400px) {
	.main-header {
		margin-top: 100px;
	}
}

.main-screen {
	text-align: center;
}

.main-search-form {
	font-size: 25px;
}

@media (min-width: 400px) {
	.main-search-form input {
		min-width: 15em;
	}
}



/* search results */

.search-query-input {

}

.bigly-header-link {
	color: inherit;
	text-decoration: none;
}
.bigly-header-link:hover {
	text-decoration: underline;
}

.results-page-search {
	margin-left: 30px;
}

.tag-list {
	list-style-type: none;

	display: flex;
	flex-wrap: wrap;

	padding: 0;
	font-size: .9em;
	color: gray;
}

.tag-list li {
	white-space: nowrap;
}

.tag-list li:not(:last-child) {
	margin-right: 7px;
}






.pure-menu-item.active .pure-menu-link,
.pure-menu-item.active .pure-menu-link:visited {
	color:#000
}